{% extends "layout.html" %}
{% block body %}
	<div id="page-wrapper">

		<!-- Header -->
			<header id="header" class="alt">
			</header>
		<!-- Banner -->
			<section id="banner">
				<h2>"{{ title }}"</h2>
				<p>Hi {{ user.first_name}}! Look in you messenger inbox to collaborate on this event</p>
<!-- 				<ul class="actions">

					<div class="fb-messengermessageus"
					  messenger_app_id="1719347811640199"
					  page_id="130562467349590"
					  color="white"
					  size="large" ></div>
				</ul> -->
			</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
				</ul>
				<ul class="copyright">
					<li>&copy; Evey 2016. All rights reserved.</li>
				</ul>
			</footer>

	</div>
{% endblock %}
